.footer {
    @extend %background-texture;
}

.footer__container {
    padding-top: 40px;
    @include flex($justify-content: space-between);
}

.footer__content {
    margin-top: 16px;
    @include flex($flex-direction: column);

    &_first {
        gap: 40px;
    }

    &_second {
        gap: 33px;
    }
}

.footer-item {
    @include flex(20px, $align-items: center);
    @include font(2rem, 23px, $color-primary);
    @extend %letter-spacing;
}

.footer__section-title {
    color: $color-light;
}