.help__container {
    @extend %padding-container;
    @include flex(60px, $flex-direction: column, $align-items: center);

    @media (max-width: $desktop) {
        padding-bottom: 40px;
        justify-content: space-between;
    }

    @media (max-width: $tablet) {
        gap: 40px;
        padding-bottom: 10px;
    }
}

.help__list {
    @include flex($justify-content: center);

    @media (max-width: $desktop) {
        padding: 0 39px;
        justify-content: space-between;
    }

    @media (max-width: $tablet) {
        padding: 0 5px;
    }
}

.help-item {  
    @include flex(30px, $flex-direction: column, $align-items: center, $justify-content: center, $wrap: nowrap);
    padding: 0 60px;

    @media (max-width: $desktop) {
        padding: 0 0 55px 0;
        width: 170px;
    }

    @media (max-width: $tablet) {
        padding: 0 0 30px 0;
        gap: 20px;
        width: 130px;
    }
}

.help-item:nth-of-type(6), .help-item:nth-of-type(7), .help-item:nth-of-type(8), .help-item:nth-of-type(9) {
    padding-top: 55px;
    @media (max-width: $desktop) {
        padding-top: 0;
    }
}

.help-item__img {
    @media (max-width: $tablet) {
        width: 50px;
    }
}