.help__container {
    @extend %padding-container;
    @include flex(60px, $flex-direction: column, $align-items: center);
}

.help__list {
    padding: 0 87px;
    @include flex($gap: 55px, $justify-content: center);

    @media (max-width: $desktop) {
        justify-content: space-between;
    }
}

.help-item {
    width: 15%;
    @include flex(30px, $flex-direction: column, $align-items: center, $justify-content: center);

    @media (max-width: $desktop) {
        width: 26.4%;
    }
}