.help__container {
    @extend %padding-container;
    @include flex(60px, $flex-direction: column, $align-items: center);
}

.help__list {
    @include flex($gap: 55px, $justify-content: center);

    @media (max-width: $desktop) {
        padding: 0 39px;
        justify-content: space-between;
    }

    @media (max-width: $tablet) {
        padding: 0 5px;
        gap: 30px;
    }
    
}

.help-item {
    width: 180px;   
    @include flex(30px, $flex-direction: column, $align-items: center, $justify-content: center, $wrap: nowrap);

    @media (max-width: $desktop) {
        width: 170px;
    }

    @media (max-width: $tablet) {
        gap: 20px;
        width: 130px;
    }
}

.help-item:nth-of-type(3) {
    padding-right: 15px;
}

.help-item:nth-of-type(4) {
    padding-right: 26px;
}

.help-item:nth-of-type(5) {
    padding-right: 10px;
}

.help-item:nth-of-type(6) {
    padding-right: 120px;
}

.help-item:nth-of-type(7) {
    width: 115px;
    padding-right: 110px;
}

.help-item:nth-of-type(9) {
    width: 200px;
    padding-left: 55px;
}

.help-item__img {
    @media (max-width: $tablet) {
        width: 50px;
    }
}