.nav__list {
    @include font(1.5rem, 24px, $family: $font-arial);
    margin: 0; padding: 0;
    @include flex();
    list-style: none;

    @media (max-width: $tablet) {
        display: none;
    }
}

.nav__item {  
    margin-left: 35px;

    &_light {
        color: $color-dark-s;

        &:hover {
            color: $color-light-s;
        }
    
        &_active {
            color: $color-light-s;
            border-bottom: 3px solid $color-primary;
        }
    }

    &_dark {
        color: $color-dark-l;

        &:hover {
            color: $color-dark-3xl;
        }
    
        &_active {
            color: $color-dark-3xl;
            border-bottom: 3px solid $color-primary;
        }
    }
}

.nav__link {
    @extend %transition;
}