.our-friends {
    @extend %background-grey;
    position: relative;
}

.our-friends__container {
    @extend %padding-container;
    @include flex(60px, $flex-direction: column, $align-items: center);

    @media (max-width: $tablet) {
        gap: 42px;
    }

    &_our-pets-page {
        gap: 60px;

        @media (max-width: $desktop) {
            gap: 30px;
            padding-bottom: 75px;
        }

        @media (max-width: $tablet) {
            gap: 40px;
            padding-bottom: 40px;
        }
    }
}

.pets-wrapper {
    width: 80%;
    display: flex;
    overflow-x: hidden;
}

.pets {
    width: 100%;
    @include flex(90px, $justify-content: center, $align-items: center, $wrap: nowrap);
    transition: 0.1s;
    height: 434.72px;
    
    @media (max-width: $desktop) {
        gap: 40px;
        justify-content: center;
    }

    &_our-pets-page {
        height: auto;
        gap: 30px;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: $desktop) {
            gap: 30px;
            justify-content: center;
        }
    }
    
    /* &.hidden {
        width: 0px;
    } */
}

.pet {
    width: 270px;
    @include flex($flex-direction: column, $align-items: center);
    border-radius: 9px;
    overflow: hidden;
    background-color: $color-light-s;
    cursor: pointer;

    &:hover .pet__content  {
        background-color: $color-light;
    }

    &:hover button  {
        background: $color-secondary;
        border: 2px solid $color-secondary;
    }
}

.pet__cover {
    height: 270px; //so that it does not twitch when changing
}

.pet__content {
    width: 100%;
    padding: 30px 0;
    background-color: $color-light-s;
    @include flex(30px, $flex-direction: column, $align-items: center);
    transition: $light-transition;
}

.controllers {
    @include flex(20px, $justify-content: center);
    
    @media (max-width: $desktop) {
        margin-top: 10px;
    }

    @media (max-width: $tablet) {
        margin-top: 5px;
        gap: 10px;
    }
}

.tablet-controllers {
    display: none;

    @media (max-width: $tablet) {
        @include flex(80px, $justify-content: center);
    }
}

.desktop_hidden {
    @media (max-width: $desktop) {
        display: none;
    }
}

.tablet_hidden {
    @media (max-width: $tablet) {
        display: none;
    }
}