html {
    scroll-behavior: smooth; 
}

body {
    background-color: $color-light-l;

    &.disable-scroll {
        overflow: hidden;
        /* .container {
            padding-right: 7px;
        } */
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    background-color: $color-light;
}

.wrapper {
    padding: 0 40px;

    @media (max-width: $desktop) {
        padding: 0 30px;
    }

    @media (max-width: $tablet) {
        padding: 0 10px;
    }
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0; padding: 0;
}

h2 {
    margin: 0; padding: 0;
}

h3 {
    margin: 0; padding: 0;
}

h4 {
    margin: 0; padding: 0;
    text-align: center;
}

h5 {
    margin: 0; padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
}
