html {
    scroll-behavior: smooth; 
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper {
    padding: 0 40px;

    @media (max-width: $desktop) {
        padding: 0 30px;
    }
}

.desktop_hidden {
    @media (max-width: $desktop) {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0; padding: 0;
}

h2 {
    margin: 0; padding: 0;
}

h3 {
    margin: 0; padding: 0;
}

h4 {
    margin: 0; padding: 0;
    text-align: center;
}

h5 {
    margin: 0; padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
