html {
    scroll-behavior: smooth; 
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper {
    padding: 0 40px;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}