html {
    @include font(10px, 1.15);
}

.project-title {
    width: 310px;
    @include font(4.4rem, 57.2px, $color-light);

    @media (max-width: $tablet) {
        text-align: center;
        font-size: 2.5rem;
        line-height: 32px;
        letter-spacing: $letter-spacing;
    }
}

.section-title {
    @include font(3.5rem, 45.5px, $color-dark-l);
    @extend %letter-spacing;

    &_center {
        text-align: center;
    }

    @media (max-width: $tablet) {
        text-align: center;
        font-size: 2.5rem;
        line-height: 32px;
    }
}

h3 {
    @include font(2rem, 22.72px, $color-dark-l);
    @extend %letter-spacing;
}

h4 {
    @include font(2rem, 23px, $color-dark-l);
    @extend %letter-spacing;

    @media (max-width: $tablet) {
        font-size: 1.5rem;
        line-height: 17px;
    }
}

h5 {
    @include font(1.5rem, 16.5px, $color-dark-l);
    @extend %letter-spacing;

    @media (max-width: $tablet) {
        line-height: 24px;
        letter-spacing: 0;
    }
}

.text {
    @include font(1.5rem, 160%, $family: $font-arial);

    &-light {
        color: $color-dark-s;
    }

    &-dark {
        color: $color-dark-xl;
    }

    @media (max-width: $tablet) {
        text-align: center;

        &_justified {
            text-align: justify;
        }
    }
}

.footnote {
    @include font(1.2rem, 18px, $color-dark-m, $font-arial, $style: italic);

    @media (max-width: $tablet) {
        padding: 0 10px;
        text-align: justify;
    }
}

.no-spacing {
    letter-spacing: 0px;
}