.card-input {
    width: 349px;
    height: 43px;
    padding: 10px 15px;
    @include font(2rem, 23px, $color-dark-l);
    text-align: end;
    letter-spacing: $letter-spacing;
    background-image: url(../../../../shelter/assets/icons/credit-card-ico.svg);
    background-size: 30px 23px;
    background-repeat: no-repeat;
    background-position: 15px 10px;
    background-color: $color-primary;
    border: none;
    border-radius: 9px;
    cursor: pointer;

    @media (max-width: $tablet) {
        width: 281px;
        font-size: 15px;
        line-height: 16.5px;
    }
}