.logo-link {
    display: inline-block;
}

.logo {
    @include flex($flex-direction: column, $align-items: center);
}

.logo__title {
    @include font(3.2rem, 35.2px, $color-primary);
    letter-spacing: 0.06em;
    margin-bottom: 10px;
}

.logo__subtitle {
    @include font(1.3rem, 15px, $color-light);
    letter-spacing: 0.1em;
}
