$color-primary: #F1CDB3;
$color-secondary: #FDDCC4;
$color-dark: #545454;
$color-dark-3xl: #292929;
$color-dark-xl: #4C4C4C;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;
$color-light: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-background: #F6F6F6;

$font-georgia: 'Georgia, "Times New Roman", Times, serif';
$font-arial: Arial, Helvetica, sans-serif;

$light-transition: .3s;

$desktop: 1280px;
$tablet: 780px;
$mobile: 320px;